<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/login.css">

</head>

<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <h2>Verify Your Email</h2>
                <%- include('../includes/errors.ejs') %>
            </div>
            <form action="/auth/login/verifyemail" method="POST">
                <input type="submit" class="fadeIn fourth" value="Verify Email">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>

        </div>
    </div>
    <%- include('../includes/footer.ejs') %>