body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}
h3 {
  text-align: center;
  margin: 2rem 0;
}
.container-fluid {
  padding: 0;
}
.navbar-dark {
  margin-bottom: 40px;
}
.nav-link,
.navbar-brand {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-brand {
  font-size: 18px;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-brand {
  color: #000;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
}
.navbar-dark .navbar-nav .show > .nav-link {
  color: #000;
}
.col-box {
  margin-bottom: 10px;
}
.table-search {
  margin-top: 10px;
}
