<%- include('../includes/head.ejs') %>
<h1>Welcome to User's Main Page</h1>
<form action="/auth/logout" method="GET">
  <button type="submit" a>Logout</button>
</form>
<%- include('../includes/footer.ejs') %>
